body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input, button{
    
    border-radius: 5px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5589c5;
    margin-bottom: 4px;
}
button{
    background-color: #669cda;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #669cda;
   
}
#delete-btn{
    background-color: white;
    color: #669cda;
}

button:hover{
   background-color: #5589c5;
}
#ul-el{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
#ul-el > li{
margin-top: 5px;
}
li a{
  color: #5589c5
}
